storage-account-name=mystorageacoount
storage-account-key=<account-key>
storage-container-name=data

input-eh-connection-string=Endpoint=sb://myeventhub.servicebus.windows.net/;SharedAccessKeyName=Listen;SharedAccessKey=<key>;EntityPath=input;

output-path=delta/meter-data
streaming-checkpoint-path=checkpoints/streaming

max-events-per-trigger=100